


:root {
    --Fashion-1: rgb(46, 81, 89);
    --Fashion-2: rgb(162, 165, 152);
    --Fashion-3: rgb(58, 63, 17);
    --Fashion-4: rgb(216, 216, 214);
    --Fashion-5: rgb(191, 112, 84);
}





* {
    font-size: 16px;
    
    overflow-x: hidden;
}

h1 {
    display: flex;
    justify-content: center;
    font-size:  4rem;
    color: var(--Fashion-2);
    padding: 1rem;
}

body {
    background-color: var(--Fashion-1);
}

a {
    text-decoration: none;
    color: var(--Fashion-4)

}

nav {
    display: flex;
    justify-content: space-around;
}

h2 {
    color: var(--Fashion-4);
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
}
 h3 {
    font-size: 1.7rem; 
    color: var(--Fashion-5);
    display: flex;
    justify-content: center;
    padding: 1.5rem;
 }

 p {
    font-size: 1rem;
    color: var(--Fashion-4);
    width: 60ch;
 }

 li {
    font-size: 1rem;
    color: var(--Fashion-4);
    width: 70ch;
 }

 .container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
 }

 .description {
    grid-column: 2 / 6;
    grid-row: 3;
    
 }

 .ingredients {
    grid-column: 8 / 11;
    grid-row: 3;
    
 }

 .steps {
    grid-row: 4;
    grid-column: 4 / 10;
   
 }

img {
    width: 400px;
    height: auto;
    grid-row: 1;
    grid-column: 5 / 6;

}